{% extends 'base.html' %}

{% block css %}
  <!-- css 넣을거 있으면 넣으면됨 -->
  <style>
    th, td{
        text-align: center;
    }

  </style>
{% endblock %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{{url_for('static', filename='assets/img/page-header.jpg')}}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>국내 코로나(Covid-19) 확진자 및 사망자</h2>
              <p>페이지 설명들어가는 부분</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <div style="position: relative;">
        <div style="width: 100%; height: 600px; margin-bottom: 20px;"> 
            {{map|safe}}
        </div>
        <div style="position: absolute; width: 100%; margin-top: 180px; overflow: scroll; width: 100%; height: 70%; padding: 10px;" class="text-align: center;">   
        <hr>   
            <label for="select_city">분류[시/도]:</label>
            <select id="select_city">
                <option value="all">전체</option>
                {% for citys in city_list %}    
                    <option value="{{citys}}">{{citys}}</option>
                {% endfor %}
            </select>
        
            <table id="dtable" class="table table-striped" border="1" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">시도명</th>
                    <th scope="col">시군구</th>
                    <th scope="col">누적확진자</th>
                    <th scope="col">누적사망자</th>
                </tr>
                </thead>
                <tbody>
                {% for data in result %}    
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{data['시도명']}}</td>
                    <td>{{data['시군구']}}</td>
                    <td>{{data['확진자']}}</td>
                    <td>{{data['사망자']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   
    </div>

</main>

{% endblock %}

{% block script %}
  <!-- js 넣을거 있으면 여기에 넣으면 됨 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        $("#select_city").change(function(){
            let a = `{{result}}`;
            a = a.replaceAll("&#39;", "\"");
            a = JSON.parse(a);

            let selected_city = $(this).val();
            
            let arr=[];

            for(let i=0;i<a.length;i++){
                obj = a[i];
                for(x in obj){
                    if(x=="시도명"){
                        if(obj[x]==selected_city){
                            arr.push(obj);
                        }
                    }
                }
            }
            console.log(arr);
        });
    });
    </script>
{% endblock %}


            <!-- $.ajax({
                type: 'GET',
                url: '/citygungu/covid19_inkorea/'+selected_city,
                headers: {
                    "Content-Type" : "application/json",
                    "X-HTTP-Method-Override" : "GET"
                },
                dataType : "text",
                success: function(result){
                    console.log(result)
                    let dtable = $("#dtable tbody");
                    dtable.empty();  // 기존 데이터 초기화
                    $.each(result, function(index, data){
                        dtable.append(`<tr>
                                    <td>${index +1}</td>
                                    <td>${data['시도명']}</td>
                                    <td>${data['시군구']}</td>
                                    <td>${data['확진자']}</td>
                                    <td>${data['사망자']}</td></tr>`);
                    });
                }
            }); -->
            