{% extends 'base.html' %}

{% block css %}
  <!-- css 넣을거 있으면 넣으면됨 -->
  <style>
    th, td{
        text-align: center;
    }
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .map-container {
        flex: 1;
        width: 100%;
        height: 600px;
        margin-bottom: 20px;
    }

    .height_scroll {
        height: 520px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
    }

  </style>
{% endblock %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{{url_for('static', filename='assets/img/page-header.jpg')}}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>국내 코로나(Covid-19) 확진자 및 사망자</h2>
              <p>페이지 설명들어가는 부분</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <div class="container">
        <div class="map-container"> 
                {{map|safe}}
        </div>
        <div class="table-container height_scroll">   
        <hr>   
            <label for="select_city">분류[시/도]:</label>
            <select id="select_city">
                    <option value="all">전체</option>
                {% for citys in city_list %}    
                    <option value="{{citys}}">{{citys}}</option>
                {% endfor %}
            </select>
            <a href="{{url_for('citygungu.covid19_inkorea')}}">돌아가기</a>
            <table id="dtable" class="table table-striped" border="1" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">시도명</th>
                    <th scope="col">시군구</th>
                    <th scope="col">누적확진자</th>
                    <th scope="col">누적사망자</th>
                </tr>
                </thead>
                <tbody>
                {% for data in result %}    
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{data['시도명']}}</td>
                    <td>{{data['시군구']}}</td>
                    <td>{{data['확진자']}}</td>
                    <td>{{data['사망자']}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   
    </div>

</main>

{% endblock %}

{% block script %}
  <!-- js 넣을거 있으면 여기에 넣으면 됨 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script type="text/javascript">
    $(document).ready(function(){
        $("#select_city").change(function(){
            let selected_city = $(this).val();
            location.href= '/citygungu/covid19_inkorea/'+selected_city;

    });
});
</script>
{% endblock %}


<!-- 데이터 테이블 표 값만 바꾸기 위한 자바스크립트 -->
 <!-- <script src="url_for('static', filename='/js/update_data.js')"></script>   주석처리 하기 위해서 진자문법 삭제 / 코드 길이 줄이기 위해 자바스크립트 파일 생성 -->              

    <!-- let a = `{{result}}`;                  문자열 중에서 작은 따옴표가 유니코드로 출력되는 것을 확인
    a = a.replaceAll("&#39;", "\"");            객체로 만들기 위해 오류난 값을 큰 따옴 표로 대체 (\")
    a = JSON.parse(a);                          JSON.parse()에 변수를 담아 자바스크립트에서 사용 가능한 객체로 변환

    let selected_city = $(this).val();
    let arr=[];
    if(selected_city != "전체"){
        for(let i=0;i<a.length;i++){
            obj = a[i];
            for(x in obj){
                if(x=="시도명"){
                    if(obj[x]==selected_city){
                        arr.push(obj);
                    }
                }
            }
        }
    update_data(arr, selected_city);
    }else{
    update_data(a, selected_city);
    }
    
    -->




<!-- ajax 통신 하려고 코드를 짰는데 인코딩 오류로 인해 사용하지 못함.-->

    <!-- $.ajax({
        type: 'GET',
        url: '/citygungu/covid19_inkorea/'+selected_city,
        headers: {
            "Content-Type" : "application/json",
            "X-HTTP-Method-Override" : "GET"
        },
        dataType : "text",
        success: function(result){
            console.log(result)
            let dtable = $("#dtable tbody");
            dtable.empty();  // 기존 데이터 초기화
            $.each(result, function(index, data){
                dtable.append(`<tr>
                            <td>${index +1}</td>
                            <td>${data['시도명']}</td>
                            <td>${data['시군구']}</td>
                            <td>${data['확진자']}</td>
                            <td>${data['사망자']}</td></tr>`);
            });
        }
    }); -->
    