.card_body {
    position: relative;
    width: 80%;
    height: 1000px; /* 부모 요소의 높이를 설정 */
    background-color: lightgrey; /* 배경색을 설정하여 확인할 수 있도록 함 */
}

#world_map_container {
    width: 80%; /* 지도 컨테이너의 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
  }
  
  /* 지도 div의 높이를 조절합니다. */
#world_map {
    height: 300px; /* 지도의 높이 설정 */
  }