{% extends 'base.html' %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('{{url_for('static', filename='assets/img/page-header.jpg')}}');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>페이지 제목</h2>
            <p>페이지 설명들어가는 부분</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- 페이지에 출력할 내용 작업 -->
  <div style="height: 700px;">
    이거 지우고 작업한거 넣으면됩니다. div태그도 지우셈
  </div>

</main>
{% endblock %}

{% block script %}
  <!-- js 넣을거 있으면 여기에 넣으면 됨 -->
{% endblock %}